<div class="about-container">
  <h2>The Angular Developer Roadmap</h2>
<!--  <h3> hello parameter {{ param }}</h3>-->
<!--  <h4>Course {{queryParam}}</h4>-->
  <p>
    I love Angular component based structure, dependency injection and it's ease in creating routes.
  </p>

  <p>
    I am learning the fundamentals of Angular including HTTP communication and many more
  </p>

  <p>
    Arcusem viris disputationi urbanitas lorem aliquip voluptaria.  Luptatumcommune tantas blandit contentiones iriure movet detraxit dignissim eripuit singulis ac.  Latinepri honestatis mauris ultrices orci ornatus altera signiferumque.  Ornareveri ea velit docendi gravida veniam euripidis inani.
  </p>
</div>
